<ion-content>
  <div class="flex-center">
    <form [formGroup]="form">
      <ion-label class="header" color="primary">LOGIN</ion-label>

    <ion-card>
      
      <ion-card-header>
        <ion-card-subtitle>Online Cinema Reservation</ion-card-subtitle>
        <div class="flex">
          <img src="assets/images/logo.png">
          <ion-card-title color="primary">C-Ticket </ion-card-title>
        </div>
       
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" formControlName="username"></ion-input>
        </ion-item>
        <app-error-message  [field]="$any(form.get('username'))" error="required" message="Username is required"></app-error-message>
        <app-error-message  [field]="$any(form.get('username'))" error="maxlength" message="Exceeding 50 Characters"></app-error-message>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <app-error-message  [field]="$any(form.get('password'))" error="required" message="Password is required"></app-error-message>
        <app-error-message  [field]="$any(form.get('password'))" error="minlength" message="Must be 6 characters"></app-error-message>

        <ion-button class="btn" color ="primary" size="full" [disabled]="!form.valid" (click)="login()">Login</ion-button>
        <ion-button color ="primary" size="full" fill="clear" (click)="register()">Register</ion-button>
        <ion-label color="danger">{{response}}</ion-label>
      </ion-card-content>
    </ion-card>

  </form>
  </div>
</ion-content>
